homework-xml-19/src/main/resources/dtd/task1.dtd

<!ELEMENT sonnet (author, title, lines)>
        <!ATTLIST sonnet type CDATA #REQUIRED>
        <!ELEMENT author (lastName, firstName, nationality, yearOfBirth, yearOfDeath)>
        <!ELEMENT lastName (#PCDATA)>
        <!ELEMENT firstName (#PCDATA)>
        <!ELEMENT nationality (#PCDATA)>
        <!ELEMENT yearOfBirth (#PCDATA)>
        <!ELEMENT yearOfDeath (#PCDATA)>
        <!ELEMENT title (#PCDATA)>
        <!ELEMENT lines (line+)>
        <!ELEMENT line (#PCDATA)>
