xml-lesson-maven/src/main/resources/dtd/mysql-connection1.dtd

<!DOCTYPE root-element [
        <!ELEMENT root-element (host,port,credentials)>
        <!ELEMENT host (#PCDATA)>
        <!ELEMENT port (#PCDATA)>
        <!ELEMENT credentials (credential+)>
        <!ELEMENT credential (user, password)>
        <!ELEMENT user (#PCDATA)>
        <!ELEMENT password (#PCDATA)>
        ]>